# Core
streamlit
pandas
python-dotenv
PyGithub

# Langchain & LLMs
langchain
langchain-community
langchain-groq
openai

# Embeddings & vector index
sentence-transformers
transformers
torch
faiss-cpu

# Needed for HuggingFaceEmbeddings
accelerate
huggingface-hub

# Optional
tqdm
